# Defaults
.DS_Store
.idea
.vscode
*.log
build/
dist/
node_modules/
coverage/
.env

# Backend
backend/node_modules
backend/.env

# Frontend
frontend/node_modules
frontend/.env
frontend/build
frontend/dist
